<div class="wrapper">
  <div class="container">
    <div class="intro"><h1>Cocktails</h1>
    <p>lorem ipsum </p>

    <%= link_to 'add new cocktail', new_cocktail_path, class: "btn btn-info" %>
    </div>

    <div class="row">
        <%  @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card" > <%= link_to cl_image_tag("12048611895_df6f955cd8_z", width: 250, height: 140, crop: :fill), cocktail_path(cocktail) %>
            <div class="card-description"><h1> <%= cocktail.name  %></h1></div>
          </div>

        </div>

      <% end %>
   </div>
  </div>
</div>

